h2 {
  height: 100%;
};

form {
  border-bottom: solid black;
};

#custom-weatherdisplay {
  min-height: 900px;
  min-width: 500px;
  margin-bottom: 500px;
  background-color: blue !important;
};

.forecast {
  height: 200px;
  width: 500px;
  margin-bottom: 5%;
  background-color: blue;

};

#displayboxtitle {
  font-size: 400em;
}

.city-search {
  display: flex;
}

button {
  display: block;
}
