h2 {
  height: 500%;
}

form {
  border-bottom: solid black;
}

.forecast {
  /* height: 200px;
  width: 500px; */
  margin-bottom: 5%;
  /* background-color: blue; */
}

#displayboxtitle {
  font-size: 4em;
}

.city-search {
  display: flex;
}

button {
  display: block;
}

.flex-parent {
  display: flex;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  min-width: 150px;
}

.green{
  background-color: green;
}
.yellow{
  background-color: yellow;
}
.orange {
  background-color: orange;
}
.red {
  background-color: red;
}
.purple {
  background-color: purple;
}